
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* creating my grid layout */
.container{
    width: 100vw;
    height: 100vh;


    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: hsl(267,55%,11%);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 1fr 1fr 50px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.container div{
    padding: 5px;
}

/*styling for the navbar */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border: 1px solid gray ;
    border-radius: 9px;
   
    grid-column: 1/5;
}

.navbar li, a{
    font-weight: 500;
    font-size: 30px;
    color:  hsl(275,87%,45%);
    text-decoration: none;
    cursor: pointer;
}

.logo{
    cursor: pointer;
}


.navlinks{
    list-style: none;
}

.navlinks li{
    display: inline-block;
    padding:  0px 20px;
}

.navlinks li a{
    transition: all 0.3 ease 0s;
}

.navlinks li a:hover{
    color: black;
}



/*styling for the sidebar */
.sidebar{
    border: 1px solid gray ;
    border-radius: 9px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 10%;
    flex-direction: column;

    grid-column: 1/2;
    grid-row: 2/ span 2;
}

.sidebar li, a{
    font-weight: 10;
    font-size: 30px;
    color:  #f8f8ff;
    text-decoration: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

.sidebar p{
    font-size: 10px;
    color:  #f8f8ff;
}


/*styling for the progressbars */
.progress{
    width: 350px;
    background-color: hsl(275,87%,45%);
    border-radius: 5px;
   
}

.progress_fill_1{
    width: 75%;
    height: 100%;
    background-color: hsl(275,87%,25%);
}

.progress_fill_2{
    width: 80%;
    height: 100%;
    background-color: hsl(275,87%,25%);
}

.progress_fill_3{
    width: 90%;
    height: 100%;
    background-color: hsl(275,87%,25%);
}

.progress_fill_4{
    width: 85%;
    height: 100%;
    background-color: hsl(275,87%,25%);
}

.progress_fill_5{
    width: 25%;
    height: 100%;
    background-color: hsl(275,87%,25%);
}


.sidebar li{
    list-style: none;
}

.sidebar button{
    padding: 25px 69px;
    cursor: pointer;
    background-color: hsl(275,87%,45%);
    border: none;
    border-radius: 50px;
    transition: all 0.3 ease 0s;
    margin-left: 75px;
    
    margin-bottom: 20px;
}

.sidebar button:hover{
    background-color: hsl(275,87%,45% , 0.8);
}

/*styling for the content/ imagegrid
/* the image grid also had display grid applied to it so i can use that layout to place my images inside of it */
.image-grid{
    border: 1px solid gray ;
    border-radius: 9px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 285px;
    box-sizing: border-box;
    

    grid-column: 2/ span 3;
    grid-row: 2/ span 2;
   
}

.image-grid > img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2{
    grid-column: span 2;
}

.image-grid-row-2{
    grid-row: span 2;
}




.footer{
    display: flex;
    justify-content: center;
    grid-column: 1/ span 4;
}

.copyright{
    color: #f8f8ff ;
}

/*content/imagegrid */





